{% include('base/header.html.twig') %}
<div class="dx-box-1 pb-100 bg-grey-6">
    <div class="container">
        <div class="row vertical-gap md-gap">
            <div class="col-lg-8">
                <h1>{{ message }}</h1>
            </div>
            <div class="col-lg-4">
                <div class="dx-sticky dx-sidebar" data-sticky-offsetTop="120" data-sticky-offsetBot="40">
                </div>
            </div>
            <div id="messageToast"></div>
        </div>
    </div>
</div>
{% include('base/footer.html.twig') %}
